<header class="header-nav menu_style_home_one style2 menu-fixed main-menu">
    <div class="container-fluid p0">
        <!-- Logo -->
        <a href="/admin/dashboard" class="navbar_brand float-left dn-smd">
            <img class="logo1 img-fluid" src="images/header-logo2.png" alt="Admin Logo">
        </a>

        <!-- Menu Toggle Button -->
        <div class="menu-toggle">
            <button type="button" id="menu-btn">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Right Side Menu -->
        <ul class="ace-responsive-menu text-right" data-menu-style="horizontal">
            <!-- Notifications -->
            <li class="list-inline-item">
                <a href="/admin/notifications">
                    <i class="flaticon-bell"></i>
                    <span class="notification-count">3</span>
                </a>
            </li>

            <!-- Messages -->
            <li class="list-inline-item">
                <a href="/admin/chats">
                    <i class="flaticon-envelope"></i>
                    <span class="message-count">5</span>
                </a>
            </li>

            <!-- User Profile Dropdown -->
            <li class="user_setting">
                <div class="dropdown">
                    <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">
                        <img class="rounded-circle" src="images/team/e1.png" alt="Admin">
                        <span class="dn-1199">Admin</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user_set_header">
                            <img class="float-left" src="images/team/e1.png" alt="Admin">
                            <p>Admin Name<br><span class="address">adminrealestate.com</span></p>
                        </div>
                        <div class="user_setting_content">
                            <a class="dropdown-item" href="/admin/profile">My Profile</a>
                            <a class="dropdown-item" href="/admin/settings">Settings</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>