<section class="our-dashbord dashbord bgc-f7 pb50">
  <div class="container-fluid ovh">
    <div class="row">
      <div class="col-lg-3 col-xl-2 dn-992 pl0"></div>
      <div class="col-lg-9 col-xl-10 maxw100flex-992">
        <div class="row">
          <div class="col-lg-12 mb10">
            <div class="breadcrumb_content style2">
              <h2 class="breadcrumb_title">Add New Property</h2>
              <p>We are glad to see you again!</p>
            </div>
          </div>
          <div class="col-lg-12">
            <form [formGroup]="propertyForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
              <div class="my_dashboard_review">
                <div class="row">
                  <div class="col-lg-12">
                    <h4 class="mb30">Create Listing</h4>
                    <div class="my_profile_setting_input form-group">
                      <label for="propertyTitle">Property Title</label>
                      <input type="text" class="form-control" id="propertyTitle" formControlName="title">
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="my_profile_setting_textarea">
                      <label for="propertyDescription">Description</label>
                      <textarea class="form-control" id="propertyDescription" rows="7" formControlName="description"></textarea>
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-6">
                    <div class="my_profile_setting_input ui_kit_select_search form-group">
                      <label>Type</label>
                      <select class="selectpicker" data-live-search="true" data-width="100%" formControlName="type">
                        <option value="Apartment">Apartment</option>
                        <option value="House">House</option>
                        <option value="Villa">Villa</option>
                        <option value="Bungalow">Bungalow</option>
                        <option value="Studio">Studio</option>
                        <option value="Penthouse">Penthouse</option>
                        <option value="Duplex">Duplex</option>
                        <option value="Townhouse">Townhouse</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-6">
                    <div class="my_profile_setting_input ui_kit_select_search form-group">
                      <label>Status</label>
                      <select class="selectpicker" data-live-search="true" data-width="100%" formControlName="status">
                        <option value="available">Available</option>
                        <option value="sold">Sold</option>
                        <option value="rented">Rented</option>
                        <option value="pending">Pending</option>
                        <option value="off-market">Off Market</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-xl-4">
                    <div class="my_profile_setting_input form-group">
                      <label for="price">Price</label>
                      <input type="text" class="form-control" id="price" formControlName="price">
                    </div>
                  </div>
                  <div class="col-lg-4 col-xl-4">
                    <div class="my_profile_setting_input form-group">
                      <label for="size">Size</label>
                      <input type="text" class="form-control" id="size" formControlName="size">
                    </div>
                  </div>
                  <div class="col-lg-4 col-xl-4">
                    <div class="my_profile_setting_input ui_kit_select_search form-group">
                      <label>Bedrooms</label>
                      <select class="selectpicker" data-live-search="true" data-width="100%" formControlName="bedrooms">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">Other</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-xl-4">
                    <div class="my_profile_setting_input form-group">
                      <label for="bathrooms">Bathrooms</label>
                      <input type="text" class="form-control" id="bathrooms" formControlName="bathrooms">
                    </div>
                  </div>
                  <div class="col-xl-12">
                    <div class="my_profile_setting_input">
                      <button type="button" class="btn btn1 float-left">Back</button>
                      <button type="submit" class="btn btn2 float-right">Next</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="my_dashboard_review mt30">
                <div class="row">
                  <div class="col-lg-12">
                    <h4 class="mb30">Location</h4>
                    <div class="my_profile_setting_input form-group">
                      <label for="street">Street</label>
                      <input type="text" class="form-control" id="street" formControlName="street">
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-6">
                    <div class="my_profile_setting_input form-group">
                      <label for="city">City</label>
                      <input type="text" class="form-control" id="city" formControlName="city">
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-6">
                    <div class="my_profile_setting_input form-group">
                      <label for="state">State</label>
                      <input type="text" class="form-control" id="state" formControlName="state">
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-6">
                    <div class="my_profile_setting_input form-group">
                      <label for="country">Country</label>
                      <input type="text" class="form-control" id="country" formControlName="country">
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-6">
                    <div class="my_profile_setting_input form-group">
                      <label for="postalCode">Postal Code</label>
                      <input type="text" class="form-control" id="postalCode" formControlName="postalCode">
                    </div>
                  </div>
                  <div class="col-xl-12">
                    <div class="my_profile_setting_input">
                      <button type="button" class="btn btn1 float-left">Back</button>
                      <button type="submit" class="btn btn2 float-right">Next</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="my_dashboard_review mt30">
                <div class="row">
                  <div class="col-lg-12">
                    <h4 class="mb30">Amenities</h4>
                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-2">
                      <ul class="ui_kit_checkbox selectable-list">
                        <li>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="amenities">
                            <label class="custom-control-label" for="customCheck1">Air Conditioning</label>
                          </div>
                        </li>
                        <li>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck2" formControlName="amenities">
                            <label class="custom-control-label" for="customCheck2">Lawn</label>
                          </div>
                        </li>
                        <li>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck3" formControlName="amenities">
                            <label class="custom-control-label" for="customCheck3">Swimming Pool</label>
                          </div>
                        </li>
                        <li>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck4" formControlName="amenities">
                            <label class="custom-control-label" for="customCheck4">Barbeque</label>
                          </div>
                        </li>
                        <li>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck5" formControlName="amenities">
                            <label class="custom-control-label" for="customCheck5">Microwave</label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-xl-12">
                    <div class="my_profile_setting_input">
                      <button type="button" class="btn btn1 float-left">Back</button>
                      <button type="submit" class="btn btn2 float-right">Next</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="my_dashboard_review mt30">
                <div class="row">
                  <div class="col-lg-12">
                    <h4 class="mb30">Property Media</h4>
                    <div class="col-lg-12">
                      <div class="portfolio_upload">
                        <input type="file" name="images" (change)="onFileChange($event)" multiple />
                        <div class="icon"><span class="flaticon-download"></span></div>
                        <p>Drag and drop images here</p>
                      </div>
                    </div>
                    <div class="col-xl-12">
                      <div class="my_profile_setting_input">
                        <button type="button" class="btn btn1 float-left">Back</button>
                        <button type="submit" class="btn btn2 float-right">Next</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">
                  {{ isEditMode ? 'Update Property' : 'Add Property' }}
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="row mt50">
          <div class="col-lg-12">
            <div class="copyright-widget text-center">
              <p>© 2020 Find House. Made with love.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>